.cardBox {
  width: 450px;
  height: 150px;
  padding: 4%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 0 1em #afafaf2a;

  .graphicBox {
    width: 120px;
    height: 120px;
  }

  .cardSubtitle {
    display: block;
    text-align: end;

    .cardValue {
      font-weight: bold;
      font-size: 30px;
    }
    .cardLabel {
      font-weight: bold;
    }
  }
}
