.sidebar {
  width: 115px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  background-color: #171331;
  box-shadow: 0 0 1em #7473732a;

  .imgLogo{
    width: 50px;
    height: 50px;
    margin: 20px 0px;
  }

  .navLinks {
    display: flex;
    flex-direction: column;
    margin: 5rem 0px;
  }
  .navLinks li {
    margin: 20px 0px;
  }
}