.boxButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #171331;
  cursor: pointer;

  &:hover{
    background-color: #816ff36c;
  }

  .icon {
    width: 40px;
    height: 40px;
  }
  .title {
    color: #ffffff;
    font-weight: lighter;
    text-align: center;
    margin-top: 4px;
  }
}